<?php

define('BOT_BASE_DIRECTORY', '/var/www/html/TimetableBot');
define('BOT_LOGS_DIRECTORY', BOT_BASE_DIRECTORY.'/logs');
define('BOT_IMAGES_DIRECTORY', BOT_BASE_DIRECTORY.'/static');
define('BOT_AUDIO_DIRECTORY', BOT_BASE_DIRECTORY.'/audio');

define('CALLBACK_API_CONFIRMATION_TOKEN', '7bf03bf8'); //Строка для подтверждения адреса сервера из настроек Callback API
define('VK_API_ACCESS_TOKEN', 'token'); //Ключ доступа сообщества
define('YANDEX_API_KEY', 'apiii'); //Ключ для доступа к Yandex Speech Kit

define('HOST_DB','host');
define('LOGIN_DB','g');
define('PASS_DB','pass');
